/*
Accomodations for the admin bar
Different sizes depending on the viewport
*/

#wpadminbar {
	position: fixed;
}

body,
.site-header {
	margin-top: 32px;
}

.headroom--unpinned {
	transform: translateY(-150%);
}

@media all and (max-width: 782px) {
	body,
	.site-header {
		margin-top: 46px;
	}
}