# Directories
*sass-cache*
bower_components/
node_modules/
vendor/
wp-content/backups/
wp-content/backup-db/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/

# Files
.htaccess
*.log
*_log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# System
.DS_Store
Thumbs.db
